.contacts-table {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.contacts-table table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.contacts-table th:nth-child(1) { width: 5%; }   /*icon*/
.contacts-table th:nth-child(2) { width: 20%; }  /*name*/
.contacts-table th:nth-child(3) { width: 10%; }  /*phone*/
.contacts-table th:nth-child(4) { width: 22.5%; }  /*email*/
.contacts-table th:nth-child(5) { width: 22.5%; }  /*address*/
.contacts-table th:nth-child(6) { width: 12%; }  /*governorate*/
.contacts-table th:last-child { width: 8%; }    /*actions-icon*/

.contacts-table thead{
  background: var(--bg); 
  font-size: 14px;
  font-weight: 500;
  color: var(--text-muted);

}
.contacts-table thead .select-all input, .contacts-table tbody .select-row input{ 
  width: 15px;
  height: 15px;
  text-align: center;
} 
 
.contacts-table th,
.contacts-table td { 
  padding: 16px 20px;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

.contacts-table .contact-info{
  display: flex;
  align-items: center;
  gap: 12px;
}

 
.contacts-table tbody tr {
  transition: 0.2s ease;
  cursor: pointer; 
}

.contacts-table tbody tr:hover > td,
.contacts-table tbody tr:hover > th {
  background: var(--bg-hover);
}

.contact-info .name-and-email .name{
  font-size: 14px;
  font-weight: 600;
}


.name-and-email .email {
  font-size: 12px;
  color: var(--text);
}
 

.contacts-table tr:hover td:first-child {
  border-top-left-radius: 0px; 
}


/* 1. اسمح للخلية إنها تظهر اللي براها */
.contacts-table td {
    overflow: visible !important;
    position: relative; /* تأكيد */
}

 