.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal[hidden] {
  display: none;
}
.modal__overlay {
  position: absolute;
  inset: 0; 
  background-color: rgba(28, 54, 108, 0.4);   
  backdrop-filter: blur(8px);  
  -webkit-backdrop-filter: blur(8px);  
}

.modal__content {
  position: relative;
  z-index: 61;

  background: var(--surface);
  padding: 24px;
  border-radius: var(--radius-lg);

  width: 400px;
  max-width: 90%;

  box-shadow: 0 0 20px 1px var(--primary);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.form-group label {
  font-size: 13px;
  color: var(--text-muted);
}


.modal__content input {
  height: 40px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  padding: 0 12px;
  outline: none;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.modal .modal__actions button {
  border: none;
  border-radius: var(--radius-md);
  padding: 10px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}
.modal .modal__actions #btn-secondary {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--border);
}
.modal .modal__actions #btn-secondary:hover {
  background: var(--border);
}

.modal .modal__actions #btn-primary {
  background: var(--primary);
  color: var(--bg);
  border: none;
  border-radius: var(--radius-md);
  padding: 10px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}
.modal .modal__actions #btn-primary:hover {
  background: var(--primary-hover);
}
 


.modal__content select {
  height: 40px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  padding: 0 12px;
  background: var(--bg);
  color: var(--text);
  outline: none;
}

