/* ===================== */
/* Dropdown */
/* ===================== */

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* trigger */
.dropdown__trigger {
  width: 36px;
  height: 36px; 
  color: #94a3b8; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* icon */
.dropdown__icon-svg {
  width: 18px;
  height: 18px;
  transition: transform 0.2s ease;
  margin: 2px 0;
}

.dropdown__trigger:hover .dropdown__icon-svg {
  transform: rotate(90deg);
  /* fill: var(--secondary); */
  
}

/* menu */
.dropdown__menu {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  background: #fff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1);
  border-radius: 10px;
  z-index: 100;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.dropdown__menu[hidden] {
  display: none;
}

/* items */
.dropdown__item {
  padding: 10px 12px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #475569;
  transition: 0.15s;
}

.dropdown__item:hover {
  background: #f8fafc;
  color: var(--primary);
}

/* modifiers */
.dropdown__item--delete {
  color: #ef4444;
}

.dropdown__item--delete:hover {
  background: #fef2f2;
  color: #dc2626;
}

/* open upward modifier */
.dropdown--up .dropdown__menu {
  top: auto;
  bottom: calc(100% + 5px);
}