/* ===================== */
/* Button */
/* ===================== */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-2-5) var(--space-4);

  border: none;
  border-radius: var(--radius-lg);

  font-size: var(--text-md);
  font-weight: var(--font-medium);

  cursor: pointer;
  transition: 0.2s;

  background: transparent;
  color: var(--text);
  
  position: relative;
} 

/* رسم الـ Tooltip */
.btn::after {
  content: attr(data-tooltip); /* بيسحب النص من الـ HTML */
  position: absolute;
  bottom: 120%; /* يظهر فوق الزرار */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: var(--bg);
  padding: var(--space-1-25) var(--space-2-5);
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; 
  pointer-events: none;
  transition: 0.2s ease;
  z-index: 110;
  visibility: hidden;
  opacity: 0;
}

/* إظهار التلميح عند الهوفر */
.btn:hover::after {
  visibility: visible;
  bottom: 110%; /* حركة بسيطة لفوق عند الظهور */
  opacity: 1;

}

/* إخفاء الـ Tooltip لو الـ data-tooltip فارغ */
.btn[data-tooltip=""]::after,
.btn:not([data-tooltip])::after {
  display: none;
}

/* variants */
.btn--primary {
  background: var(--primary);
  color: var(--bg);
}

.btn--primary:hover {
  background: var(--primary-hover);
}

.btn--secondary {
  border: 1px solid var(--border);
  background: transparent;
}

.btn--secondary:hover {
  background: var(--surface);
}
 
.btn--link {
  background: none;
  color: var(--primary);
  padding: 0;
}

/* icon button */
.btn--icon {
  width: 36px;
  height: 36px;
  padding: 0;
}

  
.btn--primary.btn--danger {
  background: var(--danger);
  color: var(--on-danger);
}

.btn--primary.btn--danger:hover {
  background: var(--danger-hover); 
}


.btn--secondary.btn--danger {
  background: transparent;
  color: var(--danger);
}

.btn--secondary.btn--danger:hover {
  background: var(--danger-soft);
  color: var(--danger-hover);
}

.btn--secondary.btn--cancel:hover {
  background: var(--primary-soft);
}