/* ===================== */
/* Text */
/* ===================== */

.text {
  font-size: var(--text-md);
  color: var(--text);
}

.text--muted {
  color: var(--text-muted);
}

.text--sm {
  font-size: var(--text-sm);
}

.text--bold {
  font-weight: var(--font-bold);
}