.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}


/* media queries */
@media (max-width: 1700px) {
 
}

@media (max-width: 1500px) {
 
}

@media (max-width: 1200px) {
  
}

@media (max-width: 950px) {

}