.sidebar {
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column; 
  background: var(--surface);
  padding: 16px;
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebar__top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.sidebar__brand-link {
  display: inline-block; 
  cursor: pointer;
  text-decoration: none;
  outline: none; 
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.sidebar__brand-link:focus-visible {
  transform: scale(1.1); 
  text-shadow: 0 0 8px rgba(0, 135, 255, 0.3); 
  box-shadow: 0 0 0 3px rgba(0, 135, 255, 0.1); 
  border-radius: 4px;
}

.sidebar__brand-link path {
  fill: var(--primary); 
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: var(--radius-lg);
  color: var(--text-muted);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  
}
.sidebar__nav-text{
  color: var(--text);
  font-weight: var(--font-medium); 
}
.sidebar__nav-icon {
  width: 20px;
  height: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;  
}

.sidebar__nav-item:hover {
  background: var(--bg);
  color: var(--text); 
}
 
.sidebar__nav-item--active {
  color: var(--text);
  font-weight: 500; 
  background: var(--bg);
  box-shadow: var(--shadow-inset-sm);
}
   

























.sidebar__footer {
  border-top: 1px solid var(--border);
  padding: 16px 5px 10px 10px;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  color: var(--text-muted);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar__footer:hover {
  background: var(--bg);
  color: var(--text);
}

.sidebar__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__user-name {
  font-size: 14px;
  font-weight: 600;
}

.sidebar__user-email {
  font-size: 12px;
  color: var(--text-muted);
  transition: 0.2s;
}

.sidebar__footer:hover .sidebar__user-email {
  color: var(--text);
}


/* media queries */

@media (max-width: 1700px) {
 
}

@media (max-width: 1500px) {
 
}

@media (max-width: 1200px) {

  .sidebar {
    width: 250px;
    padding: 12px 8px;
  }
  
  
  
  .sidebar__nav-text{
    display: none;
  }
  .sidebar_nav-icon{
    width: 25px;
    height: 25px;
  }

  .sidebar__nav-item {
    width: 50px;
  }    


}

@media (max-width: 950px) {
 
  .sidebar {
    display: none;
  }  
}


